.git
.gitignore
.vscode
.idea
*.md
/vendor
node_modules
.env
.env.*
!.env.example
docker-compose*.yml
Dockerfile
docker
!docker/php/entrypoint.sh
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
storage/app/public/*
!storage/app/public/.gitignore
*.log